name: Test

on:
  pull_request:
    types: [opened, reopened]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-python:
    name: test ${{ matrix.python-version }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.13t"
          - "3.14"
          - "3.14t"
          - "pypy3.11"

    runs-on: ubuntu-latest
    continue-on-error: ${{ endsWith(matrix.python-version, 't') }}

    steps:
      - uses: actions/checkout@v4

      - name: install rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly

      - name: install uv
        uses: astral-sh/setup-uv@v6

      - name: set up python
        run: uv python install ${{ matrix.python-version }}

      - name: install dependencies
        run: uv sync --all-extras --dev
        env:
          RUST_BACKTRACE: 1

      - name: run tests
        run: uv run pytest -vv
        env:
          RUST_BACKTRACE: 1
          HYPOTHESIS_PROFILE: slow

  test-os:
    name: test on ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]

    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v4

      - name: install rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly

      - name: install uv
        uses: astral-sh/setup-uv@v6

      - name: set up python
        run: uv python install 3.13

      - name: install dependencies
        run: uv sync --all-extras --dev
        env:
          RUST_BACKTRACE: 1

      - name: run tests
        run: uv run pytest -vv
        env:
          RUST_BACKTRACE: 1
          HYPOTHESIS_PROFILE: slow
